* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
}
a:hover {
	color: blue;
}
div.container {
	background: #efefef;
	width: 800px;
	min-height: 400px;
	margin: 20px auto;
	border-radius: 10px;
}
div.welcome {
	text-align: center;
	margin-bottom: 5px;
	padding: 10px;
}
div.header {
	border-bottom: 2px solid black;
	padding: 10px;
}
	div.header h3, p {
		display: inline-block;
		vertical-align: top;
	}
	div.header h3 {
		width: 80%;
	}
	div.header p {
		padding: 2px 5px 1px 2px;
	}
div.body {
	width: 800px;
	margin: 0 auto;
	background: #DDD;
	padding: 50px 20px;
}
div.col-30, div.col-50, div.col-70 {
	display: inline-block;
	vertical-align: top;
}
div.col-30, div.col-70 {
	background: white;
	min-height: 280px;
}
div.col-30 {
	width: 250px;
	text-align: center;
}
div.col-70 {
	width: 500px;
}
	div.col-70 h5, p, label {
		padding: 10px 15px;
	}
	div.col-70 p, label  {
		vertical-align: top;
		display: inline-block;
	}
h4.header {
	background: blue;
	color: white;
	padding: 3px 15px;
	text-align: left;
}
div.col-50 {
	width: 400px;
	text-align: center;
	margin: 0 auto;
	margin-right: -5px;
	padding: 15px;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	height: 285px;
}
div.left {
	border-right: 1px solid #DDD;
}
div.messages {
	background: #F5F5F5;
	margin: 15px 5px;
	padding: 20px 10px 10px 10px;
}
	p.message {
		padding: 10px 10px 5px 20px;
	}
div.comment {
	margin-top: 5px;
	margin-left: 10px;
}
	div.comment h5 {
		padding-left: 11px;
	}
div.comments {
	margin: 0px 10px 10px 10px;
	border-left: 3px solid #DFDFDF;
	padding-left: 10px;
}
div.align-right {
	text-align: right;
}
div.comment div.align-right {
	margin: 0% 1.4%;
}

/*Input and Textarea Formatting*/
input {
	display: block;
	margin: 10px auto;
	padding: 3px;
}
textarea {
	border: 1px solid black;
	display: block;
	font-family: 'Roboto', sans-serif;
}
textarea.message {
	height: 80px;
	width: 100%;
}
textarea.comment {
	height: 50px;
	width: 97%;
	margin-left: 9px;
}

/*Button Formatting*/
button {
	cursor: pointer;
	padding: 5px;
	margin-bottom: 10px;
}
button.align-right {
	margin-top: 5px;
	width: 150px;
}

/*Alerts Formatting*/
div.alert {
	padding-top: 7px;
}
.error {
	text-align: center;
	color: indianred;
}
.success {
	text-align: center;
	color: seagreen;
}

/*Images*/
.profile-pic {
	display: block;
	width: 125px;
	height: 125px;
	margin: 20px auto 5px auto;
}